:root{
    --navHeight:50px;
    --footHeight:40px;

    text-align:center;
}

header{
    background-color:bisque;
    margin:0px -10px 0px -10px;
    position:fixed;
    top:0;
    width:100%;
}

#nav-container{
    display:flex;
    /* background-color:rgb(80, 255, 173); */
    flex:1;
    height:var(--navHeight);
}

#nav-container-info{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    /* background-color:darkslateblue; */
    flex-grow:1;
    align-items:center;
}

#nav-container-links{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:right;
    flex-grow:3;
    /* background-color:rgb(255, 200, 80); */
    margin-right:0.5em;
}

#header-img{
    width:40px;
    border-radius:1em;
    align-content:center;
    margin-left:0.5em;
    background:linear-gradient(0deg, rgb(228, 120, 77), rgb(238, 198, 123), yellow);
}
h2{
    font-size:0.95em;
}

.nav-link{
    font-size:0.95em;
    padding:0.2em 0.4em 0.1em 0.4em;
    align-self:flex-end;
    border-radius:0.4em;
    margin-right:0.1em;
    background-color: rgba(255, 166, 0, 0.699);
}
.nav-link:hover{
    transform:scale(1.05);
}

.company-name{
    /* background-color:darkolivegreen; */
    font-family:cursive, Arial, Helvetica, sans-serif;
    /* align-self:flex-start; */
    align-items:baseline;
    /* margin-top:0.3em; */
    margin-left:0.2em;
    font-size:2em;
}

#how-it-works{
    margin-top:65px;
}

#footer{
    /* The following tutorial was used:
    https://www.youtube.com/watch?v=PwWHL3RyQgk
    Discusses hwo to create a navbar with flexbox */

    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:bisque;
    height: var(--footHeight);
}

.social-links, .mandatory{
    list-style:none;
}

.social-links li, .mandatory li{
    display:inline-block;
    padding: 0px 10px 0px 10px;
}

#steps{
    display:flex;
    justify-content:space-between;
    list-style:none;
    padding-left:0;
}

#steps li{
    width:150px;
}

.step-icons{
    height:100px;
}

form{
    padding-bottom:50px;
}