body{
    overflow:hidden;
}
/* Grid area: start row / col / end row / col */
/* Code for scrolling in grid was obtained from: 
https://medium.com/@beyondborders/beginner-css-grid-sticky-navigation-scrolling-content-7c4de0a8d1dc */

#container{
    display:grid;
    height:100vh;
    width:100vw;
    grid-template-columns:1fr;
    grid-template-rows:100px 100px 1fr;
}

#web-body{
    display:grid;
    grid-template-columns:1fr 2fr;
    overflow:hidden;
}
nav{
    background-color:bisque;    
}
main{
    background-color:burlywood;
    overflow-y:scroll;
}
#top-disclosure{
    background-color:cadetblue;
    grid-area:1/1/2/2;
}
#title{
    background-color:darkgray;
    grid-area:2/1/2/2;
}