:root{
    --nav-height:50px;
    font-family:Arial, Helvetica, sans-serif
}
#professional-pic{
    height:var(--nav-height);
}
nav{
    position:fixed;
    top:0;
    background-color:black;
    color:white;
    width:100%;
    height:var(--nav-height);
    display:flex;    
    z-index:9999;
}

#logo{
    display:flex;
}
#logo p{
    align-self:flex-end;
    margin-bottom:5px;
    font-size:large;
}
#logo img{
    border-radius:50%;
}

nav ul{
    margin-bottom: 5px;
    list-style:none; 
    flex:auto;
    align-self:flex-end;
    display:flex;
    justify-content:space-evenly;
}
nav ul li {
    display: inline;
    border-style:solid;
    border-radius:0.5em;
    border-width:2px;
    padding:0px 5px;
}
nav ul a:visited, nav ul a:link{
    color:white;
    text-decoration:none;
}

#grid-container{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:100vh auto; 
    row-gap:0px;
    column-gap:0px;
    width:100vw;
    
}

#welcome-section{
    background-image: url("https://scontent.fybz2-2.fna.fbcdn.net/v/t1.0-9/30741680_10156095044521469_4718921370304512000_n.jpg?_nc_cat=102&ccb=2&_nc_sid=e3f864&_nc_ohc=MhWOgJxm39YAX-novVH&_nc_oc=AQntH6BKUo-9ys3Bqg0DeGNAOybRLBx794D--RdNWibBfk7IJlBKx5j-as_YVao0V84&_nc_ht=scontent.fybz2-2.fna&oh=9f7bf687b105618ee66c917fb7e973f3&oe=60354854");
    background-repeat:no-repeat;
    background-size: cover;
    background-position-x:50%;
    padding-top:var(--nav-height);
    text-align:center;
    overflow:hidden;
}

#welcome-message{
    color:rgb(255, 255, 255);
    margin-top:0px;
    text-shadow: 0 0 3px darkgray, 0 0 3px darkgray, 0 0 3px darkgray, 0 0 3px darkgray;
}

#personal-pic{
    width:300px;
    border-radius:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:175px;
    position:relative;
    border-style:solid;
    border-color:white;
    border-width:2px;
}

footer{
    background-color:green;
}

#nav-wrapper{
    top:0;
    background-color:darkgray
}

#projects{
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows:25px auto auto;
    grid-template-areas:"Z Z Z Z Z Z" "A A B B C C" "D D D E E E";
    background-color:black;
    column-gap:auto;
    text-align:center;
}

#projects header{
    text-align:center;
    color:white;
    grid-area:Z;
    align-self:center;
    font-style:italic;
}
#personal-tile{
    grid-area:A;
}
#CV-doc-tile{
    grid-area:B;
}
#product-tile{
    grid-area:C;
}
#survey-tile{
    grid-area:D;
}
#tribute-tile{
    grid-area:E;
}
#tribute-tile img{
    border-radius:50%;
}

.project-tile{
    background-color:bisque;
    border-style:solid;
    border-color:white;
    border-radius:40px;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    margin:10px;
}

.project-tile img{
    height:100px;
    width:100px;
}

